<div *ngIf="(isUserLoggedIn | async); then authenticatedUser else guest"></div>
<ng-template #authenticatedUser>
    <div *ngIf="(isAdmin | async); then admin else user"></div>
    <ng-template #admin>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" routerLink="/dashboard">FooBOOK</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
                            routerLink="/dashboard">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
                            routerLink="/users">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
                            routerLink="/friends">Friends</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
                            routerLink="/network">Networks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
                            routerLink="/settings">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:;" (click)="onLogoutClick()">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </ng-template>
    <ng-template #user>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" routerLink="/dashboard">FooBOOK</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
                            routerLink="/dashboard">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
                            routerLink="/friends">Friends</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
                            routerLink="/network">Networks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
                            routerLink="/settings">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:;" (click)="onLogoutClick()">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </ng-template>
</ng-template>
<ng-template #guest>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" routerLink="/">FooBOOK</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
                        routerLink="/registration">Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
                        routerLink="/login">Login</a>
                </li>
            </ul>
            <!--<form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>-->
        </div>
    </nav>
</ng-template>

<main role="main" class="container">
    <router-outlet></router-outlet>
    <app-toasts></app-toasts>
</main>